.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  /*  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  } */
}

.menu {
  padding-left: 2em;
}

.header {
  position: relative;
}

.linkLabel {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-size: var(--mantine-font-size-md);
  color: #111;

  @media (max-width: em(992)) {
    font-size: var(--mantine-font-size-sm);
  }
  @media (min-width: em(1200)) {
    font-size: var(--mantine-font-size-lg);
  }
}

.link {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-size: var(--mantine-font-size-md);
  text-decoration: none;
  color: #111;
  font-weight: 500;
  margin-left: 1em;

  @media (max-width: em(992)) {
    font-size: var(--mantine-font-size-sm);
  }
  @media (min-width: em(1200)) {
    font-size: var(--mantine-font-size-lg);
  }
}

.underlined {
  /* text-decoration: underline; */
  background: linear-gradient(180deg, transparent 60%, #444 60%);
  background-position: 0 0.7em;
  background-repeat: repeat-x;
  background-size: 100% 1em;
}

.textUnderlined {
  /* text-decoration: underline; */
  background: linear-gradient(180deg, transparent 80%, #222 60%);
}

.textUnderlinedBig {
  /* text-decoration: underline; */
  background: linear-gradient(180deg, transparent 80%, #222 60%);
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.linkDropdown {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  /*  font-size: var(--mantine-font-size-md); */
  text-decoration: none;
  color: #111;
  font-weight: 500;
  width: 100%;
  /* background-color: rgb(240, 240, 240); */
  padding: calc(var(--mantine-spacing-xs) / 1.5) var(--mantine-spacing-sm);
}

.submenu {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 0;
  &[data-hovered] {
    background-color: #999999;
  }
}

.submenuActive {
  background-color: #999999;
}
